<!-- Button trigger modal -->
<button type="button" id="scorebtn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#scoreModal">
  Best scores
</button>

<!-- Modal -->
<div class="modal fade" id="scoreModal" tabindex="-1" aria-labelledby="scoreModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="scoreModalLabel">Best scores</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table>
          <thead>
              <tr>
                  <th>Player</th>
                  <th>Score</th>
              </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let score of scores">
              <tr>
                <td>{{score[0]}}</td>
                <td>{{score[1]}}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
